div.jumbotron {
	width: 400px;
	margin: 100px auto;
	text-align: center;
}

body>div>div.panel {
	width: 600px;
	margin: 100px auto;
}

body>div>div.panel>form.form-group>div>a.btn {
	width : 150px;
	margin-left: 15px;
	margin-bottom: 10px;
}

div.jumbotron>h2 {
	font-family: 'Kaushan Script', cursive;
	font-weight: bold;
	margin: 20px auto;
}

div.jumbotron>h2>a {
	text-decoration: none;
}

div.jumbotron>div.form-group>* {
	margin: 5px auto;
}

div.jumbotron>form.form-group>a {
	width: 49%;
}

div.jumbotron>form.form-group {
	text-align: left;
}

div.jumbotron>div.form-group>input.radio-gender {
	margin: auto 5px auto auto;
}

div>div>div#home, div>div>div#side {
	top: 100px;
}

div.navbar-header>a {
	font-family: 'Kaushan Script', cursive;
	font-weight: bold;
	font-size: 2em;
}

div#navbar>form.navbar-form>ul.nav>li>a.user-btn {
	margin: 0 5px;
	padding: 0;
}

div#navbar>form.navbar-form>ul.nav>li>a>img {
	max-width: 30px;
}

div#navbar>form.navbar-form>ul.nav>li>div>a>img {
	max-width: 20px;
}

div#navbar>form.navbar-left>ul.nav>li#userLi>a#userA {
	margin: 0;
	padding: 0;
	font-size: 1.5em;
}

div#navbar>form.navbar-left>ul.nav>li#userLi>a#userA>div {
	margin: auto 5px;
	vertical-align: text-bottom;
}

div#navbar>form.navbar-left>ul.nav>li#userLi>a#userA>div>img {
	max-width: 35px;
}

span.error {
	color: red;
}

body>div>div#userWallView {
	width: 80%;
	margin: 0 auto;
}

div.container>div.page-header>img#coverPhoto {
	width: 100%;
	height: 200px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -999;
}

div.container>div.page-header>img#profilePhoto,
div.container>div.page-header>span, 
div.container>div.page-header>a  {
	margin: 50px 0 0 20px;
	vertical-align: bottom;
	font-size: 3em;
}

ul.friends {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
}

li.friend {
	display: inline-block;
}

ul.friends>li.friend>div {
	margin-right: 10px;
	padding: 5px;
	border:1px solid #3c763d;
}

ul.friends>li.friend>div:hover {
	cursor: pointer;
}