div.jumbotron {
	width: 400px;
	margin: 100px auto;
	text-align: center;
}

div.jumbotron>h2 {
	font-family: 'Kaushan Script', cursive;
	font-weight: bold;
	margin: 20px auto;
}

div.jumbotron>div.form-group>* {
	margin: 5px auto;
}

div.jumbotron>div.form-group>a {
	width: 49%;
}

div.jumbotron>div.form-group {
	text-align: left;
}

div.jumbotron>div.form-group>input.radio-gender {
	margin: auto 5px auto auto;
}