<div ng-include="'partials/header.html'"></div>
<div class="panel">
	<form class="form-group" name="changePassForm">
		<div class="panel  panel-primary">
			<div class="panel-heading">Change password</div>
			<div class="panel-body">
				<label for="oldPass">Old password:</label><span role="alert" class="error" ng-show="changePassForm.oldPass.$error.required">*</span>
				<input type="password" id="oldPass" name="oldPass" class="form-control" ng-model="changePass.oldPassword" placeholder="" required>
				
				<label for="newPass">New Password:</label><span role="alert" class="error" ng-show="changePassForm.newPass.$error.required">*</span>
				<input type="password" id="newPass" name="newPass" class="form-control" ng-model="changePass.newPassword" required>

				<label for="confirmPassword">Confirm Password:</label><span role="alert" class="error" ng-show="changePassForm.confirmPassword.$error.required">*</span>
				<input type="password" id="confirmPassword" name="confirmPassword" class="form-control" ng-model="changePass.confirmPassword" required>
			</div>
			<a class="btn btn-warning active" role="button" ng-click="changePassword(changePass)">Change password</a>
			<a href="#/" class="btn btn-primary active" role="button">Cancel</a>
		</div>
	</form>
</div>