<div ng-include="'partials/header.html'"></div>
<div class="panel">
	<form class="form-group" name="updateForm">
		<div class="panel panel-primary">
			<div class="panel-heading">Edit profile</div>
			<div class="panel">
				<div class="panel-body">
				  	<label for="profilePic">Profile picture:</label>
				  	<input type="file" id="profilePic" onchange="angular.element(this).scope().fileSelectedProfileImage(this)"/>
				  	<div id="profile-box"></div>
				</div>
			</div>
			<div class="panel">
				<div class="panel-body">
				  	<label for="coverImage">Cover photo:</label>
				  	<input type="file" id="coverImage" onchange="angular.element(this).scope().fileSelectedCoverPhoto(this)"/>
				  	<div id="cover-box"></div>
				</div>
			</div>
			<div class="panel">
				<div class="panel-body">
					<label for="name">Name:</label><span role="alert" class="error" ng-show="updateForm.name.$error.required">*</span>
					<input type="text" id="name" name="name" class="form-control" ng-model="updateProfile.name" placeholder="" required>
					<label for="mail">E-mail:</label><span role="alert" class="error" ng-show="updateForm.mail.$error.required">*</span>
					<input type="e-mail" id="mail" name="mail" class="form-control" ng-model="updateProfile.email" required>
					<label for="gender">Gender:</label>
					<input type="radio" class="radio-gender" name="gender" ng-model="updateProfile.gender" id="male" value="Male"><label for="male">Male</label>
					<input type="radio" class="radio-gender" name="gender" ng-model="updateProfile.gender" id="female" value="Female"><label for="female">Female</label>
					<input type="radio" class="radio-gender" name="gender" ng-model="updateProfile.gender" id="other" value="Other"><label for="other">Other</label>
				</div>
			</div>
			<a class="btn btn-warning active" role="button" ng-click="editProfile(updateProfile)">Edit profile</a>
			<a href="#/" class="btn btn-primary active" role="button">Cancel</a>
		</div>
	</form>
</div>