<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">the social network</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <form class="navbar-form navbar-left">
                <ul class="nav navbar-nav">
                    <li id="userLi">
                        <a href="" id="userA" ng-click="userWallPage()" title="view friends">
                            <div>
                                <img ng-src="{{userService.getMyWallFromStorage().profileImageData}}" alt="profile picture" title="profile pic" class="img">
                                <span>{{userService.getMyWallFromStorage().name}}</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#/" class="btn btn-default user-btn"><img src="img/news-feed.png" title="news feed" alt="news feed" class="img"></a>
                    </li>
                    <li>
                        <a href="" class="btn btn-default user-btn"><img src="img/pending-requests.png" title="pending friend requests" alt="pending requests" class="img"><span class="badge" ng-if="requests">{{userService.getMyFriendRequests().length}}</span></a>
                    </li>
                    <li>
                        <a href="#/profile" class="btn btn-default user-btn"><img src="img/edit-profile.png" title="edit profile" alt="edit profile" class="img"></a>
                    </li>
                    <li>
                        <a href="#/profile/password" class="btn btn-default user-btn"><img src="img/change-password.png" title="change password" alt="change password" class="img"></a>
                    </li>
                    <li>
                        <a href="#/logout" class="btn btn-default user-btn" ng-click="logout()"><img src="img/logout.png" title="logout" alt="logout" class="img">
                    </a>
                    </li>
                </ul>
            </form>
            <form class="navbar-form navbar-right clearfix">
                <ul class="nav navbar-nav">
                    <li>    
                        <div class="form-group">
                            <input type="text" placeholder="Name" class="form-control">
                            <a type="submit" class="btn btn-success img"><img src="img/search.png" alt="search"></a>
                        </div>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</nav>