<div class="jumbotron" ng-controller="MainController">
	<h2><a href="#/">the social network</a></h2>
	<h3>Log in:</h3>
	<form class="form-group">
		<input type="text" placeholder="Username" class="form-control" ng-model="loginData.username" required autofocus/>
		<input type="password" placeholder="Password" class="form-control" ng-model="loginData.password" required/>		
		<a class="btn btn-primary active" role="button" ng-click="login(loginData)">Login</a>
		<a href="#/register" class="btn btn-warning active" role="button">Register</a>
	</form>
</div>